.CardList {
    background-color: #f0a3bc;
    display: block;
    width: 200px;
    height: 300px;
    margin: 10px 20px;
    margin-left: 0;
    flex-shrink: 0;
    border-radius: 15px;
    border: 0.125em solid #1A1A1A;
    box-shadow: 0px 10px 20px rgba(black, 0.25);
    font-size: auto;
    color: #397754;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}