@import url("https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap");
.App {
  text-align: center;
}
.App .title {
  font-family: "Spicy Rice", cursive;
  font-size: 4rem;
  color: #20212c;
}
.App .nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App .CardList-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}