@import url("https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
.App {
  text-align: center;
}
.App .title {
  font-family: "Spicy Rice", cursive;
  font-size: 4rem;
  color: #20212c;
}
.App .nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Jost", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.App .CardList-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}